* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*font-size: 0;*/
}

#galeria {
    width: 500px;
    margin: 0 auto;
}

#galeria img {
    display: inline;
    padding: .5em;

    margin: 5px 3.33% 5px 0;

    width: 30%;
    height: auto;
}