* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 1em;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.menu {
    position: sticky;
    top: 0;
    left: 0;

    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    color: pink;

    border: 1px solid black;
    background-color: #ccc;
}

.menu a {
    color: black;
    font-size: 1.5em;
    margin: 0 10px;
}

.errMsg {
    color: red;
}

table {
    border-collapse: collapse;
    text-transform: capitalize;
    margin: 5px auto;
}

table tr {
    border-bottom: 1px solid #333;
}

table tr:nth-child(2n) {
    background-color: #cccccc;
}

table tr:last-child {
    border-bottom: 1px solid #333;
}

table td,
table th {
    padding: 10px;
    margin: 0;
}

hr {
    margin: 10px 0;
    color: #333333;
}

a.delete,
a.edit {
    color: black;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}

a.edit:visited,
a.delete:visited {
    color: black;
}

a.edit:active,
a.delete:active {
    padding: 4px;
}

a.delete {
    background: red;
    text-decoration: none;
}

a.edit {
    background: orange;
    text-decoration: none;
}

.newForm,
.editForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid lightgreen;
    padding: 5px;
    margin: 20px auto;
    width: 800px;
}

.newForm p,
.editForm p {
    margin: 5px;
    padding: 5px;
}

.newForm h3,
.editForm h3 {
    text-decoration: underline;
    text-decoration-color: green;
}

.newForm p:nth-child(2n),
.editForm p:nth-child(2n) {
    background: #ccc;
}

.newForm input[type=submit],
.editForm input[type=submit] {
    background: lightgreen;
    padding: 5px;
    border-radius: 5px;
    border-color: black;
}

.editForm input[type=submit] {
    background: orange;
}

.newForm input[type=submit]:active,
.editForm input[type=submit]:active {
    transform: scale(.9);
}
