div[class^="pregunta"] {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    position: absolute;
}

.caja1 {
    background-color: rgba(178, 187, 234);
    border-radius: 8px/15px;
}

.caja2 {
    top: 50px;
    left: 50px;
    background-color: hsla(189, 60%, 45%, 0.4);
}

.caja3 {
    top: 125px;
    left: 75px;
    background-color: rgba(155, 155, 220, 0.8);
    border-radius: 20px 5px 50px;
}

.caja3:hover {
    background-color: rgba(155, 155, 220, 1);
}

/*pagina para configurar border images*/
/*https://border-image.com/*/

/*** Your CSS code ***/
#myCaja {
    top: 200px;
    border-style: solid;
    border-width: 50px 50px 50px 50px;
    -moz-border-image: url(./imgs/border-example.jpg) 100 100 100 100 repeat repeat;
    -webkit-border-image: url(./imgs/border-example.jpg) 100 100 100 100 repeat repeat;
    -o-border-image: url(./imgs/border-example.jpg) 100 100 100 100 repeat repeat;
    border-image: url(./imgs/border-example.jpg) 100 100 100 100 repeat repeat;
}