* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 1024px;
    margin: 0 auto;
}

#espacio3d {
    width: 1000px;
    height: 300px;
    margin: 200px auto;
}

#espacio3d > div {
    width: 100px;
    height: 300px;
    float: left;

    perspective: 700px;
}

#espacio3d > div > div {
    width: 100px;
    height: 300px;

    position: relative;

    transform-style: preserve-3d;
}

#espacio3d > div > div div {
    width: 100px;
    height: 300px;

    position: absolute;
}

#espacio3d > div > div div:nth-child(1) {
    background-image: url("https://picsum.photos/1000/300?random=1.jpg");
}

#espacio3d > div > div div:nth-child(2) {
    background-image: url("https://picsum.photos/1000/300?random=2.jpg");
}

#espacio3d > div > div div:nth-child(3) {
    background-image: url("https://picsum.photos/1000/300?random=3.jpg");
}

#espacio3d > div > div div:nth-child(4) {
    background-image: url("https://picsum.photos/1000/300?random=4.jpg");
}

#espacio3d > div:nth-child(2) > div div {
    background-position-x: -100px;
}

#espacio3d > div:nth-child(3) > div div {
    background-position-x: -200px;
}

#espacio3d > div:nth-child(4) > div div {
    background-position-x: -300px;
}

#espacio3d > div:nth-child(5) > div div {
    background-position-x: -400px;
}

#espacio3d > div:nth-child(6) > div div {
    background-position-x: -500px;
}

#espacio3d > div:nth-child(7) > div div {
    background-position-x: -600px;
}

#espacio3d > div:nth-child(8) > div div {
    background-position-x: -700px;
}

#espacio3d > div:nth-child(9) > div div {
    background-position-x: -800px;
}

#espacio3d > div:nth-child(10) > div div {
    background-position-x: -900px;
}

#espacio3d > div > div div:nth-child(1) {
    transform: translateZ(-50px);
}

#espacio3d > div > div div:nth-child(2) {
    transform: translateZ(50px);
}

#espacio3d > div > div div:nth-child(3) {
    transform: translateX(-50px) rotateY(-90deg);
}

#espacio3d > div > div div:nth-child(4) {
    transform: translateX(50px) rotateY(90deg);
}

#espacio3d:hover > div > div {
    transform: rotateY(450deg);
}

/*OOF*/

#espacio3d > div:nth-child(1) > div {
    transition: transform 1s linear 0s;
}

#espacio3d > div:nth-child(2) > div {
    transition: transform 1s linear 1s;
}

#espacio3d > div:nth-child(3) > div {
    transition: transform 1s linear 2s;
}

#espacio3d > div:nth-child(4) > div {
    transition: transform 1s linear 3s;
}

#espacio3d > div:nth-child(5) > div {
    transition: transform 1s linear 4s;
}

#espacio3d > div:nth-child(6) > div {
    transition: transform 1s linear 5s;
}

#espacio3d > div:nth-child(7) > div {
    transition: transform 1s linear 6s;
}

#espacio3d > div:nth-child(8) > div {
    transition: transform 1s linear 7s;
}

#espacio3d > div:nth-child(9) > div {
    transition: transform 1s linear 8s;
}

#espacio3d > div:nth-child(10) > div {
    transition: transform 1s linear 9s;
}
