.container {
    width: 1024px;
    margin: 350px auto;
    border: 1px solid #000;
}

.menu {
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border: 1px solid deeppink;
}

.foo {
    width: 800px;
    height: 300px;
    border: 5px solid green;
    margin: 0 auto;
}

.espacio3d {
    width: 800px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid red;
perspective: 700px;
}

.cubo {
    transform-style: preserve-3d;
    transition: transform 3s linear;
}

.cubo div {
    width: 800px;
    height: 300px;
    border: 1px solid #000;
    text-align: center;
    color: white;
    font-size: 5em;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}


.cubo div:nth-child(1) {
    transform: translateZ(150px);
}

.cubo div:nth-child(2) {
    transform: translateZ(-150px) rotateY(180deg);
}

.cubo div:nth-child(3) {
    transform: translateY(-150px) rotateX(90deg);
}

.cubo div:nth-child(4) {
    transform: translateY(150px) rotateX(-90deg);
}

.cubo:hover {
    transform: rotateX(360deg);
    transform-origin: center center;
}

img {
    width: 800px;
    height: 300px;
}
