* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    border: 5px dashed red;
    width: 300px;
    height: 300px;
    background-color: lightslategray;
    padding: 2em;
    float: left;
    margin: 1em;
    color: white;
    background-image: url("./imgs/perro.png");
    background-repeat: no-repeat;
}

p {
    clear: both;
}

div:nth-of-type(1) {
    background-origin: border-box;
}

div:nth-of-type(2) {
    background-origin: padding-box;
    background-position: bottom right;
}

div:nth-of-type(3) {
    background-origin: content-box;
}

div:nth-of-type(4) {
    background-repeat: repeat;

    background-origin: border-box;
    background-clip: border-box;
}

div:nth-of-type(5) {
    background-repeat: repeat;

    background-origin: padding-box;
    background-clip: padding-box;
}

div:nth-of-type(6) {
    background-repeat: repeat;

    background-origin: content-box;
    background-clip: content-box;
}

div:nth-of-type(7) {
    padding: 0;
    color: black;
    background: url("./imgs/lupa.png") repeat scroll top left,
    url("./imgs/perro.png") no-repeat scroll bottom right,
    url("./imgs/panda.png") no-repeat scroll center center,
    url("./imgs/zorro.png") repeat scroll center center;
}