* {
    margin: 0px;
    padding: 0px;
}

div {
    position: absolute;
    border: 3px solid black;
    padding: 5px;
}

.casa {
    background-color: grey;
    width: 200px;
    height: 200px;
    left: 10%;
    top: 25%;
}

.tejado {
    width: 110%;
    height: 20%;
    background-color: red;
    left: -8%;
    top: -25%;
}

.puerta {
    background-color: brown;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    width: 50px;
    height: 50px;
    font-size: small;
}

.ventana, .ventana2 {
    background-color: blue;
    width: 30px;
    height: 30px;
}

.ventana {
    left: 5%;
    top: 20%;
}

.ventana2 {
    right: 5%;
    bottom: 20%;
}

.middle {
    width: 20px;
    height: 20px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div1, .div2, .div3, .div4 {
    width: 100px;
    height: 100px;
}

.div1 {
    background-color: green;
    top: 0;
    left: 0;
}

.div2 {
    background-color: purple;
    top: 0;
    right: 0;
}

.div3 {
    background-color: indianred;
    bottom: 0;
    left: 0;
}

.div4 {
    background-color: gold;
    bottom: 0;
    right: 0;
}


