#contenedor {
    width: 500px;
    height: 500px;
    background-color: cornflowerblue;
    position: relative;
    display: flex;
    align-items: center;
}

#capa1 {
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 255, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
}