@font-face {
    font-family: LouisVuittonFont;
    src: url("./Resources/Intrepid.ttf");
}

:root {
    --lv-main-brown: #453630;
    --lv-main-beige: #9B7E4B;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'LouisVuittonFont', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: var(--lv-main-brown);
    color: var(--lv-main-beige);
}

h1 {
    position: relative;
    font-size: 20rem;
    margin: 0;
    letter-spacing: 30px;
    font-weight: 100;
    cursor: default;
}

#mainTitle {
    position: relative;
}

/*This is the placeholder circle to put the LV logo*/
#mainTitle:before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    bottom: 84px;
    right: 57px;
    background-color: var(--lv-main-brown);
    z-index: 5;
}

#mainTitle img {
    position: absolute;
    bottom: 85px;
    right: 58px;
    width: 40px;
    height: 40px;
    z-index: 100;
}

p {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 5px;
    cursor: default;
}

#ilumDiv {
    position: relative;
    bottom: -8rem;
    border: 1px solid var(--lv-main-beige);
    letter-spacing: 5px;
    font-weight: 400;
    padding: 5px 5px 5px 10px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ilumDiv span {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#ilumDiv:hover span {
    opacity: 1;
}

#menuHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    font-size: 2rem;
    align-items: center;
    border-bottom: 2px solid var(--lv-main-beige);
    background-color: var(--lv-main-brown);
    z-index: 1;
}

#mainMenu {
    display: flex;
    align-items: center;
    list-style: none;
}

#mainMenu li {
    margin-right: 2rem;
    cursor: default;
}

#mainMenu li li:hover {
    background-color: var(--lv-main-beige);
}

#mainMenu li li:active {
    transform: scale(1.02);
}

#mainMenu li li:hover a {
    color: var(--lv-main-brown);
}

#mainMenu a {
    color: var(--lv-main-beige);
}

#menuExercises {
    position: relative;
}

#menuExercises:hover ul {
    display: flex;
}

#menuExercises ul {
    position: absolute;
    list-style: none;
    padding: 0;
    display: none;
    flex-direction: column;
    width: 450px;
}

#menuExercises ul li {
    background-color: var(--lv-main-brown);
    border: 1px solid var(--lv-main-beige);
    padding: 5px;
}

#menuExercises ul li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#menuExercises ul li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#cookies {
    position: fixed;
    bottom: 2rem;
    width: 5%;
    height: 3rem;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lv-main-beige);
    border: 2px solid var(--lv-main-brown);
    border-radius: 15px;
    z-index: 1;
    transition: width 2s ease-in;
}


#cookies p {
    font-size: 1.2rem;
    color: var(--lv-main-brown);
    font-weight: bolder;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

#cookies button {
    color: var(--lv-main-brown);
    background-color: #50c878;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid var(--lv-main-brown);
    outline: none;
    cursor: pointer;
    font-weight: bold;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

#cookies button:active {
    transform: scale(0.98);
}
