@font-face {
    font-family: LouisVuittonFont;
    src: url("./Resources/Intrepid.ttf");
}

:root {
    --lv-main-brown: #453630;
    --lv-main-beige: #9B7E4B;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'LouisVuittonFont', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: var(--lv-main-brown);
    color: var(--lv-main-beige);
}

h1 {
    font-size: 20em;
    margin: 0;
    letter-spacing: 30px;
    font-weight: 100;
    cursor: default;
}

#mainTitle {
    position: relative;
}

/*This is the placeholder circle to put the LV logo*/
#mainTitle:before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    bottom: 84px;
    right: 57px;
    background-color: var(--lv-main-brown);
    z-index: 5;
}

#mainTitle img {
    position: absolute;
    bottom: 85px;
    right: 58px;
    width: 40px;
    height: 40px;
    z-index: 100;
}

p {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 5px;
    cursor: default;
}

#ilumDiv {
    margin-top: 5em;
    border: 1px solid var(--lv-main-beige);
    letter-spacing: 5px;
    font-weight: 400;
    padding: 5px 5px 5px 10px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ilumDiv span {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#ilumDiv:hover span {
    opacity: 1;
}

#menuHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
    border-bottom: 2px solid var(--lv-main-beige);
    background-color: var(--lv-main-brown);
    z-index: 1;
}

#mainMenu {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
}

#mainMenu > li {
    margin: .5em;
    cursor: default;
    letter-spacing: .2em;
    position: relative;
    height: 100%;
    display: flex;
    padding: 0 .5em;
    justify-content: center;
    align-items: center;
}

#mainMenu li li:hover {
    background-color: var(--lv-main-beige);
}

li:active {
    transform: scale(1.02);
}


#htmlExercises li:hover a,
#cssExercises li:hover a {
    color: var(--lv-main-brown);
}

#mainMenu a {
    color: var(--lv-main-beige);
    display: block;
    font-size: 1.5rem;
    letter-spacing: .1em;
}

#menuExercises:hover > ul {
    display: flex;
}

#menuExercises ul {
    position: absolute;
    top: 95%;
    list-style: none;
    padding: 0;
    display: none;
    flex-direction: column;
    width: 350px;
    z-index: 10;
}

#menuExercises ul li {
    background-color: var(--lv-main-brown);
    border: 1px solid var(--lv-main-beige);
    padding: 5px;
}

#menuExercises ul li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#menuExercises ul li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#menuLanguages li:hover {
    color: var(--lv-main-brown);
}

#menuLanguages > li {
    position: relative;
    left: 100px;
    width: 200px;
}

#htmlMenu:hover #htmlExercises,
#cssMenu:hover #cssExercises {
    display: flex;
}


#htmlExercises,
#cssExercises {
    position: absolute;
    left: 100px;
}

#menuExercises a {
    text-decoration: none;
}

#cookies {
    position: fixed;
    bottom: 2rem;
    width: 5%;
    height: 3rem;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lv-main-beige);
    border: 2px solid var(--lv-main-brown);
    border-radius: 15px;
    z-index: 1;
    transition: width 2s ease-in;
}


#cookies p {
    font-size: 1.2rem;
    color: var(--lv-main-brown);
    font-weight: bolder;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

#cookies button {
    color: var(--lv-main-brown);
    background-color: #50c878;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid var(--lv-main-brown);
    outline: none;
    cursor: pointer;
    font-weight: bold;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

#cookies button:active {
    transform: scale(0.98);
}

.dialog-portfolio {
    height: 2.5em;
    width: 5em;
    background-color: var(--lv-main-beige);
    position: absolute;
    border-radius: 10%;
    top: 2.5em;
    right: 1em;
    color: var(--lv-main-brown);
    display: none;
    justify-content: center;
    align-items: center;
}

.right-point {
    width: 0;
    height: 0;
    border-left: .2em solid transparent;
    border-right: .2em solid transparent;
    border-top: 1em solid var(--lv-main-beige);
    position: absolute;
    top: -30%;
    right: 20%;
    transform: rotate(-180deg);
}

.disabledMenu:hover .dialog-portfolio {
    display: flex;
}

sup {
    font-size: .6em;
}

.tele-tw {
    color: #8036fe;
}

.tele-dp {
    color: #9dd744;
}

.tele-la {
    color: #fdda29;
}

.tele-po {
    color: #fe0000;
}
