* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', serif;

    cursor: default;
}

.resultsTable tr:nth-last-child(2) td {
    border-bottom: 3px solid black;
}

.resultsTable tr:nth-child(2) td {
    border-top: 3px solid black;
}

body {
    padding: 1em;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

strong {
    cursor: pointer;
}

a {
    color: black;
    text-decoration-line: underline;
    text-decoration-color: dodgerblue;

    cursor: pointer !important;
}

a:visited {
    text-decoration-line: underline;
    text-decoration-color: dodgerblue;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.menu {
    position: sticky;
    top: 0;
    left: 0;

    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    color: black;

    border: 1px solid black;
    background-color: #ccc;

    z-index: 1000;
}

.menu a {
    color: black;
    font-size: 1.5em;
    margin: 0 10px;
}


.errMsg,
.infoMsg {
    margin: 10px auto;
    width: 100%;
    color: red;
    background-color: lightpink;
    border: 3px solid red;
    border-radius: 10px;
    padding: 20px 20px;
    text-align: left;
    cursor: default;
}

.errMsg *,
.infoMsg * {
    cursor: default;
}

.infoMsg {
    color: dodgerblue;
    background-color: lightblue;
    border: 3px solid dodgerblue;
}

.errMsg i {
    font-size: 1.2em;
    margin-right: 20px;
}

table {
    border-collapse: separate;
    border-spacing: 0;

    text-transform: capitalize;
    margin: 5px auto;

    overflow: hidden;

    width: 100%;
}

.resultsTable {
    border: 3px solid #000;
    border-radius: 15px;
}

table tr:nth-child(2n) {
    background-color: #cccccc;
}

.resultsTable tr:last-child {
    border-collapse: separate;
    background-color: white !important;
    border-top: 1px solid #000 !important;
}

.resultsTable tr:hover {
    background-color: lightblue !important;
}

.resultsTable tr:first-child:hover {
    background-color: white !important;
}

.resultsTable tr:last-child:hover {
    background-color: white !important;
}

table td,
table th {
    padding: 10px;
    margin: 0;
    text-align: center;
}

hr {
    margin: 10px 0;
    color: #333333;
}

th.headerSort a {
    position: relative;
}

th.headerSort i {
    position: absolute;

    cursor: pointer;
}

th.headerSort a:first-child i {
    transform: translateY(-3px);
    position: absolute;
    height: 10px;

    z-index: 9;
}


th.headerSort a:nth-child(2) i {
    position: absolute;
    transform: translateY(3px);
}


.formTable {
    width: 100%;
}

.formTable tr td:nth-of-type(2) {
    text-align: left;
}

.formTable tr td:first-child {
    text-align: right;
}

a.delete,
a.edit {
    color: black;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

a.edit:visited,
a.delete:visited {
    color: black;
}

a.edit:active,
a.delete:active {
    padding: 4px;
}

a.delete {
    background: red;
}

a.edit {
    background: orange;
}

.newForm,
.editForm,
.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid forestgreen;
    padding: 5px 0;
    margin: 30px auto;
    width: 100%;

    border-radius: 15px;
}

.editForm {
    border: 3px solid orange;
}

.searchForm {
    border: 3px solid dodgerblue;
}

.newForm p,
.editForm p,
.searchForm p {
    margin: 5px;
    padding: 5px;
}

.newForm h3,
.editForm h3,
.searchForm h3 {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.newForm h3 {
    text-decoration-color: forestgreen;
}

.editForm h3 {
    text-decoration-color: orange;
}

.searchForm h3 {
    text-decoration-color: dodgerblue;
}

.newForm p:nth-child(2n),
.editForm p:nth-child(2n),
.searchForm p:nth-child(2n) {
    background: #ccc;
}

input {
    border: thin solid black;
    border-radius: 5px;
    outline: none;
    font-size: 1.1em;
    padding: 5px 5px 5px 20px;
    width: 75%;
}

.newForm input[type=submit],
.editForm input[type=submit],
.searchForm input[type=submit] {
    background: forestgreen;
    padding: 5px 15px;
    border-radius: 5px;
    border-color: black;
    font-size: 1.2em;
    color: white;

    width: auto;

    cursor: pointer;
}

.newForm input {
    border-color: forestgreen;
}

.editForm input {
    border-color: darkorange;
}

.searchForm input {
    border-color: dodgerblue;
}

.editForm input[type=submit] {
    background: darkorange;
}

.searchForm input[type=submit] {
    background: dodgerblue;
    border: 3px solid darkblue;
}

.newForm input[type=submit]:active,
.editForm input[type=submit]:active,
.searchForm input[type=submit]:active {
    transform: scale(.9);
}

.editForm input[type=submit]:hover {
    color: darkorange;
    background: white;
}

.newForm input[type=submit]:hover {
    color: forestgreen;
    background: white;
}

.searchForm input[type=submit]:hover {
    color: dodgerblue;
    background: white;
}


form p {
    width: 100%;
}

form p:last-child {
    background-color: lightblue !important;
}

.buttons {
    display: flex;
    justify-content: left;
    align-items: center;
}

i {
    margin: 0 5px;
    cursor: pointer !important;
}

.btn {
    border: 3px solid black;
    border-radius: 5px;

    font-size: 1.2rem;

    padding: 5px 10px 5px 0;
    color: white;
    text-decoration: none;
    margin: 5px;
}

.btn:active {
    transform: scale(.9);
}

.editBtn {
    outline: darkorange;
    border-color: coral !important;
}

.newBtn {
    background: forestgreen;
    border-color: darkgreen !important;
    outline: darkgreen;

    cursor: pointer;
}

.newBtn:hover {
    background: white !important;
    color: forestgreen;
}

.searchBtn {
    background: dodgerblue;
    border-color: darkblue;
}

.searchBtn:hover {
    background: white;
    color: dodgerblue;
}

.cancelBtn {
    background: darkgrey;
    border-color: grey;
}

.cancelBtn:hover {
    background: white;
    color: darkgrey;
}

.deleteBtn {
    background-color: #dc142c;
    border-color: darkred;
    padding: 5px;

    cursor: pointer;
}

.deleteBtn:hover {
    background-color: white;
    color: #dc142c;
}

table .btn.deleteBtn:active,
table .btn.editBtn:active {
    transform: scale(.9);
    padding: 3px;
    font-size: 1.1rem;
}

.editBtn {
    background-color: darkorange;
    border-color: orangered;
    padding: 5px;

    cursor: pointer;
}

.editBtn:hover {
    background-color: white;
    color: darkorange;
}

h1 {
    margin-bottom: 50px;
    font-size: 5rem;
    text-align: center;
    color: #fcedd8;
    background: transparent;
    font-family: 'Niconne', cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0 #eb452b,
    10px 10px 0 #efa032,
    15px 15px 0 #46b59b,
    20px 20px 0 #017e7f,
    25px 25px 0 #052939,
    30px 30px 0 #c11a2b
}

select {

    /* styling */
    background-color: white;
    border: thin solid black;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.75em;
    padding: 0 2.5em 0 1em;
    width: 75%;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}


/* arrows */

select.classic {
    background-image: linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
    background-position: calc(100% - 20px) calc(.5em + 2px),
    calc(100% - 15px) calc(.5em + 2px),
    100% 0;
    background-size: 5px 5px,
    5px 5px,
    2.5em 2.5em;
    background-repeat: no-repeat;
}

.searchForm select {
    border-color: dodgerblue;

}

.editForm select {
    border-color: orange;
    background-image: linear-gradient(45deg, transparent 50%, orangered 50%),
    linear-gradient(135deg, orangered 50%, transparent 50%),
    linear-gradient(to right, orange, orange);

}

.newForm select {
    border-color: forestgreen;
    background-image: linear-gradient(45deg, transparent 50%, darkgreen 50%),
    linear-gradient(135deg, darkgreen 50%, transparent 50%),
    linear-gradient(to right, forestgreen, forestgreen);

}

select.classic:focus {
    background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
    background-position: calc(100% - 15px) .5em,
    calc(100% - 20px) .5em,
    100% 0;
    background-size: 5px 5px,
    5px 5px,
    2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/* .squaredThree */
.squaredThree {
    width: 20px;
    position: relative;
    margin: 5px auto;
}

.squaredThree label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.4);
}

.squaredThree label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.squaredThree label:hover::after {
    opacity: 0.3;
}

.squaredThree input[type=checkbox] {
    visibility: hidden;
}

.squaredThree input[type=checkbox]:checked + label:after {
    opacity: 1;
}

/* end .squaredThree */
