* {
    color: #2E6BA8;
    font-family: 'Lobster Two', cursive;
    font-weight: normal;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.limpiar {
    clear: both;
}

#contenedor {
    width: 1024px;
    margin: 0 auto;
}

/*Start header styles*/
#header h1 {
    color: white;
    background-color: red;
    padding: .2em 0;
}

#cabecera {
    height: 300px;
    background: url("./../img/clash-royale-banner.jpg");
    background-size: 1500px 485px;

    padding: .5em 2em;
}

#cabecera h1,
#cabecera h2 {
    color: white;
    text-align: center;
}

#cabecera .cabizq {
    float: left;
}

#cabecera .cabder {
    float: right;
}

/*End header styles*/

/*Start footer styles*/
#pie {
    margin: 1.5em 0;
}

#pie img {
    float: left;
}

#pie p {
    padding-top: 1em;
    text-align: center;
    font-size: 1.5em;
}
/*End footer styles*/
