/*Las reglas de CSS están formadas por*/
/*un selector, una propiedad y un valor*/

/*Selector universal, afecta a todas las etiquetas*/
* {
    margin: 0;
    padding: 0;
}

/*Selector descendente*/
div table h1 {
    color: yellowgreen;
}

h3 {
    color: red;
    font-size: 50px;
}

h1, h2 {
    color: rebeccapurple;
}

